[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
[svn-remote "svn"]
	url = https://subversion.assembla.com/svn/babebase
	fetch = trunk:refs/remotes/trunk
	branches = branches/*:refs/remotes/*
	tags = tags/*:refs/remotes/tags/*
[svn]
	authorsfile = /myplace/workspace/authors.txt
[user]
	name = Coding Machine
	email = nahncm@gmail.com
[remote "assembla"]
	url = git@git.assembla.com:babebase.git
	fetch = +refs/heads/*:refs/remotes/assembla/*
[remote "unfuddle"]
	url = git@nahncm.unfuddle.com:nahncm/babebase.git
	fetch = +refs/heads/*:refs/remotes/unfuddle/*
[remote "local"]
	url = /myplace/repos/babebase.git
	fetch = +refs/heads/*:refs/remotes/local/*
